// @use 'sass:list';


/*** Variables ***/
// colors
$clr-dark-blue: hsl(223, 41%, 13%);
$clr-medium-blue: hsl(224, 40%, 20%);
$clr-light-blue: hsl(220, 100%, 98%);
$clr-accent-blue: hsl(212, 99%, 50%);
$clr-black: hsl(220, 8%, 8%);
$clr-white: hsl(0, 0%, 100%); 
$clr-grey: hsl(212, 7%, 36%);
$clr-light-grey: hsl(224, 10%, 56%);
$clr-blue-grey: hsl(215, 24%, 49%);

// typography
$ff-primary: 'Courier Prime', monospace;

$fs-500: 1.5rem;
$fs-400: 1rem;
$fs-300: .875rem;

$fw-700: 700;
$fw-400: 400;

// Color Themes


/*** Reset ***/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: $ff-primary;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button {
  font: inherit;
}


/*** Utilities ***/
.text-white { color: $clr-white; }
.text-black { color: $clr-black; }
.text-grey { color: $clr-grey; }
.text-light-grey { color: $clr-light-grey; }
.text-accent-blue { color: $clr-accent-blue; }

.bg-white { background-color: $clr-white; }
.bg-dark-blue { background-color: $clr-dark-blue; }
.bg-medium-blue { background-color: $clr-medium-blue; }
.bg-light-blue { background-color: $clr-light-blue; }
.bg-accent-blue { background-color: $clr-accent-blue; }

.flex {
    display: flex;
    gap: 1rem;
}

.container {
    width: min(50ch, 100vw - 2rem);
    margin-inline: auto;
}


/*** Components ***/
// button
.btn {
  display: inline-block;
  padding: .5rem 1rem;
  color: $clr-white;
  font-weight: 500;
  background-color: $clr-accent-blue;
  border: none;
  border-radius: 10px;
}






