@use 'sass:list';


/*** Variables ***/
// colors
$clr-dark-blue: hsl(223, 41%, 13%);
$clr-medium-blue: hsl(224, 40%, 20%);
$clr-light-blue: hsl(220, 100%, 98%);
$clr-accent-blue: hsl(212, 99%, 50%);
$clr-black: hsl(220, 8%, 8%);
$clr-white: hsl(0, 0%, 100%); 
$clr-grey: hsl(212, 7%, 36%);
$clr-light-grey: hsl(224, 10%, 56%);
$clr-blue-grey: hsl(215, 24%, 49%);

// typography
$ff-primary: 'Courier Prime', monospace;

$fs-500: 1.5rem;
$fs-400: 1rem;
$fs-300: .875rem;

$fw-700: 700;
$fw-400: 400;

// Color Themes
// $text, $bg-color, $user-color, $box-color, $icon-color, $theme-toggle;
$scheme-dark: $clr-white, $clr-dark-blue, $clr-medium-blue, $clr-dark-blue, $clr-white; 
$scheme-light: $clr-grey, $clr-light-blue, $clr-white, $clr-light-blue, $clr-grey;

// Mixins
@mixin color-scheme($text, $bg-color, $user-color, $box-color, $theme-toggle) {
  color: $text;
  background-color: $bg-color;

  .search-bar, 
  .user-card {
    background-color: $user-color;
  }

  .github-stats {
    background-color: $box-color;
  }

  .theme-toggle {
    color: $text;
    fill: $theme-toggle;

  }

}

/*** Reset ***/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: $ff-primary;
  
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button {
  display: inline-block;
  font: inherit;
  background-color: inherit;
  border: none;
}


/*** Utilities ***/
.text-white { color: $clr-white; }
.text-black { color: $clr-black; }
.text-grey { color: $clr-grey; }
.text-light-grey { color: $clr-light-grey; }
.text-accent-blue { color: $clr-accent-blue; }

.bg-white { background-color: $clr-white; }
.bg-dark-blue { background-color: $clr-dark-blue; }
.bg-medium-blue { background-color: $clr-medium-blue; }
.bg-light-blue { background-color: $clr-light-blue; }
.bg-accent-blue { background-color: $clr-accent-blue; }

.flex {
    display: flex;
    gap: 1rem;
}

.container {
  width: min(50ch, 100vw - 2rem);
  margin-inline: auto;
}

// visually hide the element, but keep it in the accessability tree
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.dark {
  @include color-scheme($scheme-dark ...)
}

.light {
  @include color-scheme($scheme-light ...)
}

/*** Components ***/
// button
.btn {
  
  padding: .5rem 1rem;
  color: $clr-white;
  font-weight: 500;
  background-color: $clr-accent-blue;
  border-radius: 10px;
  cursor: pointer;

  &.theme-toggle {
    background-color: unset;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-flex;
    gap: .75rem;

    & svg {
      font-size: $fs-500;
    }
  }
}

// header
.user-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

// search bar
.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem .5rem;
  border-radius: 15px;

  .form-control {
    display: flex;
    align-items: center;
    gap: .75rem;
  }

  input,
  input::placeholder {
    color: $clr-white;
  }

}

// user card
.user-card {
  border: solid red 2px;
  border-radius: 15px;

}


/*** General Styles ***/
main {
  min-height: 100vh;
  display: grid;
  place-content: center;
}

article {
  min-height: 100vh;
}




